@import vars
@import fonts
@import libs

::placeholder
	color: #728d97
	font-style: italic

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	
h1,h2
.h1,.h2
	margin-top: 0
	margin-bottom: .5rem
	font-family: $heading-font
	font-weight: normal
	line-height: 1.2

h1,.h1
	font-size: 2.9375em
	text-transform: uppercase
	+media-breakpoint-down(md)
		font-size: 1.8em
	+media-breakpoint-down(sm)
		font-size: 1.6em
	+media-breakpoint-down(xs)
		font-size: 1.5em
	
h2,.h2
	font-size: 2.5em
	font-style: italic
	margin-bottom: 1em
	line-height: 1.05
	+media-breakpoint-down(md)
		font-size: 1.6em
	+media-breakpoint-down(sm)
		font-size: 1.5em

h3,.h3
	font-weight: bold
	font-size: 1.75em	

h4,.h4
	font-family: GothamPro
	font-weight: bold
	font-size: 1.5em

h5,.h5
	font-size: 1.25em

h6,.h6
	font-size: 1.125em
	font-weight: bold
a
	transition: $trans3
	color: $accent
button
	&:focus
		outline: none
p
	line-height: 1.2
	//font-size: 1.0625em
	&.intro
		font-size: 1.25em
		max-width: 740px
		margin: -35px auto 2.5em
		+media-breakpoint-down(sm)
			font-size: 1em
.text-center
	text-align: center
.heading-line
	text-align: center
	position: relative
	padding-bottom: .7em
	margin-bottom: 2em
	&:after
		content: ''
		display: inline-block
		width: 5em
		border-bottom: solid 5px $accent
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -2.5em
.list-unstyled, .list-inline
	list-style-type: none
	padding-left: 0
	margin-bottom: 0
.list-inline
	li
		display: inline-block
.hidden
	display: none
.mb-60
	margin-bottom: 60px
.mb-40
	margin-bottom: 40px
// Custom Sass / Remove before use

.container, .container-fluid
	padding:
		right: $gutter/2
		left: $gutter/2
.container-fluid
	width: 100%
.container
	width: 100%
	margin:
		left: auto
		right: auto
	+media-breakpoint-down(lg)
	+media-breakpoint-up(sm)
		max-width: 540px
	+media-breakpoint-up(md)
		max-width: 720px
	+media-breakpoint-up(lg)
		max-width: 970px
	+media-breakpoint-up(xl)
		max-width: 1170px
.img-responsive
	display: block
	max-width: 100%
	height: auto

.grid
	display: grid
	grid-gap: $gutter
	&.reverse
		grid-auto-flow: dense
		.text-wrap
			grid-column: 2
	&.col-3-auto
		grid-template-columns: repeat(3,1fr)
	&.col-4-auto
		grid-template-columns: repeat(4,1fr)
	&.col-1-1
		grid-template-columns: 1fr 1fr
	&.col-1-2
		grid-template-columns: 1fr 2fr
	&.col-2-1
		grid-template-columns: 2fr 1fr
	&.col-1-2-1
		grid-template-columns: 1fr 2fr 1fr
	&.col-auto
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
	&.col-5-7
		grid-template-columns: 35% 63%
	&.col-7-5
		grid-template-columns: 63% 35%
	
	&.acc
		align-content: center
	&.aic
		align-items: center
	&.gap-30
		grid-gap: 30px
	&.gap-40
		grid-gap: 40px
	
	+media-breakpoint-down(md)
		&.col-4-auto, &.col-3-auto
			grid-template-columns: repeat(2, 1fr)
	+media-breakpoint-down(sm)
		&.col-1-2
			display: block

	+media-breakpoint-down(xs)
		display: block
		>div, >a
			padding-bottom: $gutter
		
.flex
	display: flex
	&.jcsb
		justify-content: space-between
	&.aic
		align-items: center
	&.jcc
		justify-content: center
	&.jcsa
		justify-content: space-around
.example-img
	width: 100%

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

//HEADER//

.header
	position: absolute
	top: 0
	width: 100%
	.logo
		width: 32%
	.address
		font-size: .875em
		line-height: 1.2
.phone
	a
		color: $text
		font-family: GothamPro
		font-size: 1.5em

//SLIDER//
.heading
	padding-top: 260px
	padding-bottom: 130px
	background-repeat: no-repeat
	background-position: top center
	.item
		margin-bottom: 265px
	.item-content
		font-family: Georgia
	.subtitle
		font-style: italic
		font-size: 1.875em
		margin-bottom: 35px
	.description
		font-size: 1.1875em
		font-style: italic
	.btn
		margin-bottom: 30px
		&.btn-lg
			font-size: 1.25em
			padding: 18px 30px
			border-radius: 35px
			&:after, &:before
				border-radius: 35px
	hr
		border: none
		box-shadow: 0 0 0 1px #A3C2DB
		width: 23%
		margin-left: 0
		margin-bottom: 40px
	.h1
		margin-bottom: .3em
		font-family: inherit
	p
		max-width: 545px
		margin: 0 auto

//CONTENT//
.content-wrapper
	+media-breakpoint-down(md)
		padding-top: 0
.section
	position: relative	
.advantages
	background-color: #EBF6FA
	padding-bottom: 160px
	position: relative
	z-index: -1
	margin-top: -175px
.advantage
	position: relative
	background-repeat: no-repeat
	background-position: top 100px center
	padding: 0 120px
	.elips
		position: relative
		border-radius: 100%
		padding-top: 100%
		box-shadow: 0 0 0 1px rgba(#557b9a, .23)
		&:before, &:after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			border-radius: 100%
			box-shadow: 0 0 0 1px rgba(#557b9a, .23)
			+transform(-50%, -50%)
		&:before
			width: 77%
			height: 77%
		&:after
			width: 49%
			height: 49%
	.adv-items
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		display: flex
		flex-direction: column
		justify-content: space-around
		.row
			display: flex
			justify-content: space-between
			&:nth-child(1)
				padding: 10px 180px 0
			&:nth-child(2)
				padding: 0 75px
			&:nth-child(3)
				padding: 0 180px 10px
	.item
		display: inline-block
		position: relative
		width: 90px
		height: 90px
		border-radius: 50%
		background: #fff
		background-image: url(../img/advantage-sprite.png)
		background-repeat: no-repeat
		&-1
			background-position: -269px center
		&-2
			background-position: -368px center
		&-3
			background-position: -175px center
		&-4
			background-position: -455px center
		&-5
			background-position: -82px center
		&-6
			background-position: 15px center
		span
			display: inline-block
			line-height: 1.2
			font-size: .875em
			text-align: center
			min-width: 230px
			margin-top: 20px
			position: absolute
			top: 100%
			left: 50%
			+transform(-50%, 0)
.triple-form
	background-repeat: no-repeat
	background-position: top center
	//background-color: #ebf6fa
	margin-top: -490px
	padding-top: 410px
	padding-bottom: 120px
.products
	
	.thumb
		position: relative
		box-shadow: 0 5px 5px rgba(#0a0b0c, .09)
		background-color: #201919
		img
			transition: $trans3
			opacity: 1
		&:hover
			img
				opacity: .38
			.layer
				opacity: 1
	.layer
		position: absolute
		flex-direction: column
		padding-top: 60px
		top: 0
		left: 0
		bottom: 0
		right: 0
		transition: $trans3
		opacity: 0
	.feature
		color: #fff
		width: 100%
		justify-content: space-around
		font-size: .875em
		margin-bottom: 32px
		li
			&:before
				content: ''
				display: inline-block
				vertical-align: middle
				margin-right: 5px
				width: 25px
				height: 23px
				background-image: url(../img/prod-sprite.png)
				background-repeat: no-repeat
				background-position: center
			&:first-child
				&:before
					background-position: -72px center
			&:last-child
				&:before
					background-position: -136px center

	.product-content
		border: 1px solid #EEEEEE
		border-top: none
		padding: 10px 20px 20px
	.h6
		margin-bottom: 5px
		a
			color: $text
			text-decoration: underline
	.description
		font-size: .8125em
		color: rgba($text, .8)
		line-height: 1.3
		min-height: 46px
	.price-wrap
		font-family: Arial
		line-height: 1.3
		.old-price
			font-size: .9375em
			color: #acacac
			text-decoration: line-through
		.price
			font-size: 1.125em
			font-weight: bold

.related
	padding: 60px 0 0
	
	.related-wrap
		
	.thumb
		box-shadow: 0 5px 5px rgba(#000, .09)
	.item-content
		padding: 10px 15px 34px
		border: 1px solid #EEEEEE
		border-top: none
	.title
		display: inline-block
		font-weight: bold
		color: $text
		text-decoration: underline
		line-height: 1.2
		min-height: 38px
.home-gallery
	padding: 60px 0

.zoom-gallery
	a
		background-color: #201919
		display: inline-block
		img
			opacity: 1
			transition: $trans3
		&:hover
			img
				opacity: .38

.trade
	padding: 85px 0
	.h3
		color: #fff
		line-height: 1.2
		margin-bottom: 42px
		font-weight: normal
.certificate
	padding: 60px 0 150px
	.zoom-gallery
		margin-bottom: 100px
	.triple
		position: absolute
		left: 50%
		+transform(-50%, 0)
		z-index: 1
.cer-item
	text-align: center
	.thumb
		display: inline-block	
		position: relative
		padding: 12px
		box-shadow: 18px 18px 35px rgba(#000, .23)
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-image: url(../img/ramka.png)
			background-size: 100% 100%

.feedback
	padding: 170px 0 110px
	background-position: bottom center
	background-repeat: no-repeat
	.h6
		font-size: 1.3125em
		margin-bottom: 0
		font-weight: normal
	.h2
		font-size: 1.625em
		font-style: italic
		span
			font-size: 1.8461em
	.icon
		font-weight: bold
	ul
		display: flex
		flex-direction: column
		justify-content: space-between
	.contact
		.h6
			font-size: 1.5em

.map
	height: 560px
	position: relative
	.contact-block
		position: absolute
		background: #fff
		top: 80px
		left: 50%
		margin-left: -570px
		padding: 50px 30px
		box-shadow: 0 6px 24px rgba(#c5c5c5, .27)
		.icon
			line-height: 1.2
			margin-bottom: 40px
			&:before
				height: 28px
				background-position: 2px 0
			&.address
				&:before
					background-position: -29px 0
			&.email
				a
					font-style: italic
					color: $accent
					text-decoration: underline
				&:before
					background-position: -60px 0
		+media-breakpoint-down(lg)
			margin-left: -420px
	#map-canvas
		min-height: 100%
	+media-breakpoint-down(md)
		.contact-block
			margin-left: -360px
	+media-breakpoint-down(sm)
		.contact-block
			margin-left: -250px
			.icon
				&:before
					height: 20px
					width: 22px
				&.address
					&:before
						background-position: -20px 0
				&.email
					&:before
						background-position: -43px 0
	+media-breakpoint-down(xs)
		.contact-block
			margin-left: -156px
.footer
	padding: 15px 0
	.copyright
		color: #898989
		font-size: .625em
		max-width: 690px
	.privaci
		font-size: .75em
		text-align: right
	.logo
		width: 195px
		padding-right: 15px
	.phone
		a 
			font-size: 1.25em

//BUTTON//
.btn
	display: inline-block
	border: none
	border-radius: 5px
	font-family: $default-font
	font-size: 1.125em
	font-weight: bold
	font-style: normal
	text-transform: uppercase
	text-decoration: none
	text-align: center
	outline: none
	cursor: pointer
	transition: $trans3
	color: $text
	&.btn-default
		min-width: 225px
		color: #fff
		background: linear-gradient(to bottom, #FDD819, #E87B05)
		position: relative
		font-size: .9375em
		padding: 9px 20px
		&:after, &:before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			border-radius: 5px
			transition: $trans3
		&:after
			height: 100%
		&:before
			height: 100%
			background: darken(#FFCC00, 5%)
			opacity: 0
		&:hover
			&:before
				opacity: 1
		span, i
			display: inline-block
			position: relative
			z-index: 10
	&:focus, &:hover
		text-decoration: none
	&:hover
		background-color: darken($accent2, 5%)
		color: #fff
	&:active
		background-color: darken($accent2, 5%)
		&:after
			box-shadow: 0 0px 0 #DBBC2A
	
	&.btn-lg
		font-size: 1.125em
		padding: 14px 30px
		min-width: 260px
		border-radius: 29px
		&:after, &:before
			border-radius: 29px
		&:after
			box-shadow: 0 5px 0 #947322
	&.btn-block
		display: block
		width: 100%
	&.btn-close
		background: transparent
		padding: 5px	
	&.btn-gray
		padding: 15px 30px
		background: #f9f9f9
		font-size: 1em
		font-weight: normal
		&:hover
			background: darken(#f9f9f9, 5%)
	+media-breakpoint-down(md)
		min-width: auto
		&.btn-gray
			padding: 15px
	+media-breakpoint-down(sm)
		&.btn-lg
			font-size: 1em
			padding: 15px 20px
	&.btn-line
		color: #fff
		border: 1px solid #fff
		font-size: .9375em
		min-width: 220px
		padding: 7px
		&:hover
			background-color: rgba(#fff, .15)
	&.btn-add
		i
			width: 18px
			height: 24px
			line-height: 24px
			vertical-align: middle
			background-image: url(../img/prod-sprite.png)
			background-repeat: no-repeat
			background-position: -46px center
			margin-right: 20px
		span
			vertical-align: middle
.btn-icon
	display: inline-block
	padding: 3px
	border: 1px solid #2CB1DF
	border-radius: 20px
	font-size: .70125em
	text-decoration: none
	text-align: center
	outline: none
	color: $text
	&:hover
		text-decoration: none
		background: lighten(#2CB1DF, 30%)
		color: #252525
	span
		display: inline-block
		vertical-align: middle
		padding: 0 15px
	&.btn-more
		display: block

//FORM//
form
	.h4
		line-height: 1.2
.contact-form
	form
		position: relative
		background: #fff
		max-width: 460px
		margin: 0 auto
		padding: 25px 30px
		border-radius: 6px
		box-shadow: 1px 1px 24px rgba(#000, .11)
		z-index: 10
		&:before, &:after
			content: ''
			position: absolute
			top: 100%
			left: 50%
			+transform(-50%, 0)
			background: #fff
			height: 15px
			width: 93%
			border-radius: 0 0 6px 6px
			box-shadow: 1px 1px 24px rgba(#000, .11)
			z-index: 1
		&:before
			height: 30px
			width: 90%
	.btn.btn-lg
		border-radius: 10px
		&:after, &:before
			border-radius: 10px

.triple
	box-shadow: 1px 1px 24px rgba(#000, .11)
	border-radius: 10px
	padding: 15px 70px
	position: relative
	background-color: #fff
	>*
		position: relative
		z-index: 5
	&:before, &:after
		content: ''
		position: absolute
		left: 50%
		top: 50%
		+transform(-50%, -50%)
		box-shadow: 1px 1px 24px rgba(#000, .11)
		border-radius: 10px
		background: #fff
	&:before
		width: 97%
		height: 116%
	&:after
		width: 93%
		height: 134%
	.h4
		margin-bottom: 30px
	.grid
		margin-bottom: 20px
	.form-control
		padding: 17px 25px
		border-radius: 30px
	+media-breakpoint-down(md)
		padding: 15px 40px
		margin-bottom: 0
	+media-breakpoint-down(xs)	
		&:before, &:after
			display: none
		.form-control
			padding: 17px 10px
	p
		font-size: 1.125em
		font-style: italic
		margin-bottom: 0
	.btn
		font-size: 1.125em
		padding: 12px 30px
.agreement
	text-align: left
	.checkbox
		font-size: .875em
		padding-left: 50px
		i
			width: 28px
			height: 28px
			border-radius: 100%
			border-color: #fff
			border-width: 12px
			box-shadow: 0 0 0 1px #EBD1A0
			top: 0
		input
			&:checked
				+ i
					background: #EBD1A0
					border-width: 10px
		a
			color: $text
			text-decoration: underline
.form-control
	display: block
	width: 100%
	padding: 20px 20px
	font-family: $default-font
	//font-size: 1.125em
	line-height: 1.5
	color: $text
	background-color: #EBF6FA
	background-clip: padding-box
	border: none
	border-radius: 5px
	transition: $trans3
	&:focus
		box-shadow: 0 3px 16px #f4f4f4
.invalid-feedback, .invalid-tooltip
	position: absolute
	top: 100%
	color: red
	left: 220px
	line-height: 1
	margin-top: 10px
.form-group
	position: relative
	margin-bottom: 15px !important
	>span.error
		position: absolute
		line-height: 1
		top: 100%
label
	font-weight: 600
	margin-bottom: .1rem
	display: inline-block
	&.checkbox
		font-weight: normal
	sup
		font-size: 100%
		top: -5px
		color: red
[class*=error]
	.error
		font-size: 80%
.checkbox
	margin-bottom: 4px
	padding-left: 27px
	font-size: 15px
	line-height: 27px
	cursor: pointer
	position: relative
	input
		position: absolute
		left: -9999px
		&:checked
			+ i
				border-color: #fff
				border-width: 2px
				background: $accent
	i
		width: 17px
		height: 17px
		border-width: 1px
		border-color: #EBD1A0
		border-style: solid
		position: absolute
		top: 5px
		left: 0
		display: block
		background: #fff
	span
		display: inline-block
		line-height: 1.1
blockquote
	margin: 0 0 20px
	font-size: 1.09em
	border-Top: 2px solid $accent
	padding: 5px 15px
.input-group
	display: flex
	flex-wrap: wrap
	width: 100%
	align-items: stretch
	>.form-control
		width: 1%
		flex: 1 1 auto
textarea
	resize: none
	height: 228px
select
	display: block
	width: 100%

// POP-UP//

.white-popup
	position: relative
	width: auto
	max-width: 500px
	margin: 40px auto
	padding: 30px
	border-radius: 10px
	background: #fff
	text-align: center
	.wrap-forms 
		//padding: 0
		.form-group 
			textarea
				min-height: 90px
	.message
		text-align: center
		padding: 30px 15px
		font-size: 1.5em
	.h2
		margin-bottom: 1.1em
	.form-control
		padding: 12px
.white-popup-block
	max-width: 1170px
	margin: 40px auto
	padding: 30px
	position: relative
	background: #fff
	form
		max-width: 900px
		margin: 0 auto
	.container-fluid
		max-width: 900px
.mfp-arrow
	&:before, &:after
		color: #fff
		font-size: 6.5em
		margin: 0
		border: none
	&:before
		font-family: FontAwesome
		width: auto
		height: auto
		line-height: 1
		left: 50%
		+transform(-50%, 0)
	&-right
		&:before
			content: '\f105'
	&-left
		&:before
			content: '\f104'
.mfp-image-holder
	.mfp-close
		right: -24px
		top: 10px

//====== Zoom effect ======//
.mfp-zoom-in
	.mfp-with-anim
		opacity: 0
		transition: $trans3
		transform: scale(0.8) 
	&.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: scale(1) 
		&.mfp-bg
			opacity: 0.8
	&.mfp-removing
		.mfp-with-anim
			transform: scale(0.8) 
			opacity: 0
		&.mfp-bg
			opacity: 0

.mfp-fade
	&.mfp-bg
		opacity: 0
		transition: $trans3
		&.mfp-ready
			opacity: 0.8
		&.mfp-removing
			opacity: 0
	&.mfp-wrap 
		.mfp-content
			opacity: 0
			transition: $trans3
		&.mfp-ready 
			.mfp-content
				opacity: 1
		&.mfp-removing 
			.mfp-content
				opacity: 0
.mfp-with-zoom 
	.mfp-container, &.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready 
		.mfp-container
			opacity: 1
		&.mfp-bg
			opacity: 0.8
	&.mfp-removing 
		.mfp-container, &.mfp-bg
			opacity: 0
.mfp-move-from-top
	.mfp-content
		vertical-align: middle
	.mfp-with-anim
		opacity: 0
		transition: $trans3
		+transform(0, -100px)
	&.mfp-bg
		opacity: 0
		transition: $trans3
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			+transform(0, 0)
		&.mfp-bg
			opacity: .8
	&.mfp-removing
		.mfp-with-anim
			+transform(0, -50px)
			opacity: 0

.hamburger
	padding: 10px 10px
	cursor: pointer
	&.active
		.hamburger-inner
			transform: rotate(45deg)
			&:before
				top: 0
				opacity: 0
			&:after
				bottom: 0
				transform: rotate(-90deg)
.hamburger-box
	position: relative
	display: inline-block
	width: 36px
	height: 12px
.hamburger-inner
	&,&:before,&:after
		position: absolute
		width: 36px
		height: 6px
		transition: $trans3
		border-radius: 1px
		background: $text
	top: 50%
	display: block
	margin-top: -2px
	&:before,&:after
		content: ''
		display: block
	&:before
		top: -10px
	&:after
		bottom: -10px

